:root {
  --primary-font: "Poppins";
  --primary-white: #ffff;
  --primary-black: #373737;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  color: var(--primary-black);
  overflow-y: overlay;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 425px) {
}

@media only screen and (max-width: 375px) {
}
