.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0 16px;
}

.btn-wrapper {
  display: flex;
  gap: 20;
}

.logo-txt {
  color: "#22262A";
  font-size: 18px;
  font-weight: 900;
  margin-left: 10px;
}
